<!doctype html class="homepage">
<html lang="en">
    <head>

        <title>
            Restaurant health scores across San Francisco
        </title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/mystyles.css" />
        <link rel="stylesheet" href="/static/css/tablesort.css" />


        <script src='/static/javascripts/searchTable.js'></script>
        <script src='/static/javascripts/tablesort.min.js'></script>
        <script src='/static/javascripts/tablesort.number.js'></script>


    </head>
