<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/mystyles.css" />

        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    </head>
    <body class="categorydetailpage">


        <div id="map" style="width:100%; height:300px;"></div>

        <div class="container">

        <h1>Health inspection overview for SF restaurants with a '{{ biz_rating }}' Yelp rating </h1>

        <p>There are {{ business_list | length }} restaurants.</p>

             <table border=1 cellpadding=7 class="table">
                <tr>
                    <th>Name</th>
                    <th>Inspection Score</th>
                    <th>Risk Category</th>
                    <th>Yelp Price</th>
                    <th>Yelp Category</th>
                </tr>
                {% for obj in business_list %}
                <tr>
                    <td><a href="/business/{{ obj.business_id }}">{{ obj.business_name }}</a></td>
                    <td>{{ obj.inspection_score }}</td>
                    <td>{{ obj.risk_category }}</td>
                    <td>{{ obj.yelp_price }}</td>
                    <td>{{ obj.yelp_category }}</td>
                </tr>
                {% endfor %}
        </table>
        </div>
        <script type="text/javascript">
            var map = L.map('map').setView([37.775, -122.419], 12);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
            });
            map.addLayer(osmLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in business_list %}
                {% if obj['business_latitude'] %}
                    {
                      "type": "Feature",
                      "properties": {
                        "business_name": "{{ obj.business_name }}"
                      },
                      "geometry": {
                        "type": "Point",
                        "coordinates": [{{ obj.business_longitude }}, {{ obj.business_latitude }}]
                      }
                    }


                    {% if not loop.last %},{% endif %}
                {%endif%}
                {% endfor %}
              ]
            };
            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.business_name);
                }
            });
            map.addLayer(dataLayer);
        </script>
    </body>
</html>



